[2016-07-20 11:22] yannisgu opened #1 "Spezifikation: Wiki aufsetzen"
Für unsere technische Spezifikation brauchen wir eine Wiki Struktur. Anhand dieser Struktur sollte klar sein was wo rein kommt, und wie viel spezifiziert wird.

[2016-07-20 12:39] yannisgu opened #2 "Grobarchitektur Client"
Wir brauchen für den Client eine grobe Architektur. Diese sollte insbesondere folgende Fragen beantworten:
- Nach welchem Prinzip werden Module unterteilt?
- Gibt es etwas wie ein Schichtenmodell oder nicht? (Trennung View/Logik/Datenzugriff) Mein Vorschlag ist View und Datenzugriff zu trennen. Business-Logik und View-logik zu trennen macht aber wohl hier keinen Sinn
- Was ist ein Ordner, was eine

[2016-07-20 12:41] yannisgu opened #3 "Grobarchitektur Server"
Wir brauchen für den Server eine grobe Architektur. Diese sollte insbesondere folgende Fragen beantworten:
- Nach welchem Prinzip werden Module unterteilt?
- Gibt es etwas wie ein Schichtenmodell oder nicht? (Trennung View/Logik/Datenzugriff)
- Was ist ein Ordner, was eine Datei. Also eine Datei pro Modul oder ein Ordner pro Modul?

[2016-07-20 12:43] yannisgu opened #4 "Coding Guidelines"
Wir brauchen etwas an Coding Guidelines. Für den Anfang wohl nicht alzu umfangreich, aber es sollte wenigstens geklärt werden, was camelCase und was PascalCase geschrieben wird.

[2016-07-20 12:53] yannisgu opened #5 "Authentication Module Client"
Das Authentisierungsmodul für den PoC hat folgenden Funktionsumfang
- Loginmaske
- authenticationService (Client):
  - Nach erfolgreichem Login wird der Token in den localStorage gespeichert
  - Methode um den aktuellen `token` zu erhalten (Variable, falls der Service ein Singleton ist, ansonsten immer aus localStorage)
- "Appliction Startup". Wenn die Seite geladen/neugeladen wird, muss überprüft

[2016-07-20 13:04] yannisgu opened #6 "PoC Client: Einheit hinzufügen und bearbeiten"
Anforderungen für PoC:
- Ein Athlet kann eine Einheit hinzufügen.
- Das hinzufügen einer Einheit geschieht in zwei Schritten: Zuerst die Trainingsart auswählen und dann die Details abfüllen
- Für den PoC muss nur der Titel, die Dauer und die Bemerkungen angegeben werden können
- Die Details einer Einheit können bearbeitet werden

Zu treffende Entscheide:
- Geschieht das Bearbeiten in einem Dialog

[2016-07-20 13:11] yannisgu opened #7 "PoC: TTB Ansicht"
Das Herzstück vom T-Pak...

Anforderungen für den PoC:
- Wir bauen für den PoC nur die Wochen-Liste von einem Athet, also eine Chronologische Liste aller **absolvierten Einheiten** in einer Woche.
- Standardmässig ist die aktuelle Woche ausgewählt, ~~mittels Date-Picker kann zu einer anderen Woche gewechselt werden~~. Material2 hat noch keinen Datenpicker. Für den PoC lassen wir also den Datepicke

[2016-07-20 13:30] yannisgu opened #8 "PoC: Grundlayout / Style Guide Client"
Der PoC sollte nach etwas aussehen... Wir sollten wenigstens einen schönen Header und ein einfacher Footer haben.

[2016-07-20 13:33] yannisgu opened #9 "Build-Scripts für Client"
Wir brauchen v.a. fürs Frontend automatisierte Build-Scripts.

Anforderungen Frontend:
- Transformieren von LESS zu CSS
- Kompillieren von TS zu JS
- Kompillieren der HTML-Views zu einem JS-File
- File-Watcher

Anforderungen Backend:
- Transpielierung Typescript (inkl. Einbindung externer References), Output in build-directory
- Lint für Einhaltung Coding-Guidelines

[2016-07-26 18:36] yannisgu opened #10 "Evaluation ORM"
Nachdem wir uns für NodeJS als Server-Sprache entschieden haben müssen wir eine Strategie haben, mit welchen Framwork(s) wir auf die MySQL Datenbank zugreifen.
Grundsätzlich gibt es 3 Möglichkeiten:
- Pure SQL
- Tiny ORM
- Volles ORM

Da die Entscheidung einen Langfristigen Einfluss hat, sollte wir uns genau überlegen, welche dieser Strategie am besten für uns geeignet ist, und welches Framework d

[2016-07-26 18:37] yannisgu opened #11 "Evaluation REST API Tooling"
**Edit**
Sagger und Express sind wohl gesetzt.
Die Frage ist: Was schreiben wir selber und was lassen wir generieren?
Möglichkeiten:
- API und Defnitions (so nennnen sich Entytätstypen in Swagger) in der Swagger-Defnition schreiben und Client und Server generieren lassen.
- API in Swagger-File definieren, Entitäten als TypeScript-Interfaces schreiben, dann aus TypeScript YAML-Defnitionen generiere

[2016-07-26 18:38] yannisgu opened #12 "Evaluation Build-System Client"
Entscheide:
- Build-System: Gulp oder npm
- Packetierung / Module loading: SystemJS, Webpack, Browerify

[2016-07-26 18:39] yannisgu opened #13 "Evaluation UI Framework"

[2016-07-26 19:32] yannisgu commented on #10
Als Anfang habe ich ein "Volles ORM" evaluiert: [Sequelize](http://docs.sequelizejs.com/en/latest/)

Ich habe einen Mini-PoC erstellt um mir ein Bild davon zu machen: https://github.com/t-pak/tpak-orm-poc-sequelize

Grundsätzlich macht das DIng einen sehr guten Eindruck. Auf jeden Fall scheint es problemlos möglich zu sein, das ORM an unseren Tabellen und Spaltennamen anzupassen

[2016-07-28 18:27] andreasrueedlinger commented on #9
Auch fürs Backend braucht es Build-Scripts.
Ich schlage gulp vor, macht einen guten Eindruck auch im Zusammenspiel mit Typescript-Transpilierung.

Anforderungen Backend:
- Transpielierung Typescript (inkl. Einbindung externer References), Output in build-directory
- Lint für Einhaltung Coding-Guidelines

Wie setzen wir das Projekt auf?
- Client und Server sharen package.json und andere Konfigurati

[2016-07-28 18:34] andreasrueedlinger commented on #10
Sequelize macht einen einigermassen guten Eindruck, ist aber noch nicht ganz was ich mir vorgestellt habe.
Einige Punkte dagegen:
- Typescript Defintion scheint nicht up-to-date zu sein, gibt bei mir einen Error vom "Compiler": `error TS2339: Property 'name' does not exist on type 'Model<{}, {}>'.`
- Definition geschieht nicht auf der Modelklasse wie zum Beispiel bei doctrine. Am besten wäre aus m

[2016-07-28 18:37] andreasrueedlinger commented on #11
Falls du mit REST API das Server-side Framework meinst, um das Routing zu handlen, gibt es da wohl für NodeJS nur einen Kandidaten:
http://expressjs.com/

[2016-07-28 18:53] yannisgu commented on #9
@andreasrueedlinger Wie setzen wir das Projekt auf?
Ich würde Client/Server eher trennen: Also je ein package.json, je ein gulpfile.js. Der shared-Folder hat kein Build-System, nur Klassen/Module, welche aus Klassen/Module vom Client/Server Projekte Refenziert werden können.

Der Grund ist vorallem, dass obwohl beides TypeScript ist, das Paketieren zimliech unterschiedlich ist. Auch finde ich, sol

[2016-07-28 18:55] yannisgu commented on #10
Bin mit deinen Punkten einverstanden. TypeScript und Server/NodeJS scheint mir noch nicht super supportet (gilt auch für Swagger)...

[2016-07-28 19:00] yannisgu commented on #10
TypeORM macht einen tollen Eindruck, aber 0.0.2-alpha.48 macht mir etwas Angst. Ich würde es auf jeden Fall noch ausprobieren, bevor wir uns dafür entscheiden

[2016-08-01 18:52] andreasrueedlinger commented on #11
Habe nun bei meinen weiteren Abklärungen noch koajs entdeckt, eine Alternative zu expressjs. Ist vom gleichen Team, aber scheint für sie die Zukunft zu sein?!?

[2016-08-03 10:05] andreasrueedlinger commented on #11
Habe nochmals Swagger und Co. etwas angeschaut. Was soll uns das API Tooling bringen? Aus meiner Sicht wären folgende Punkte wünschenswert:
- Interaktive API Documentation (Nachschlagewerk für Developer)
- Automatische Validierung der spezifizierten API
- Generierung von Tests für den Serverteil

Etwas weniger wichtig aber nice-to-have:
- Automatische Generierung von Server-Routing Teilen
- Automa

[2016-08-06 10:53] yannisgu commented on #11
@andreasrueedlinger Viele Swagger CodeGen tools arbeiten mit Templates, da könnte man sicher relativ einfach die Code-Generierung der Entitäten bauen.

[2016-08-06 11:01] yannisgu commented on #10
Denke TypeORM fällt raus. Es unterstützt nicht zusammengestzete Primary Columns (https://github.com/typeorm/typeorm/issues/15). Ich bin zimliech sicher, dass das in T-Pak vorkommt. Also die "relationen_*" Tabellen haben ja nie primary keys und enthalten ebenfalls Meta-Daten, darum brauchen sie auch Entitäten...

[2016-08-06 12:45] yannisgu commented on #10
@andreasrueedlinger habe beim Sequalize PoC noch etwas Typisierung reingebracht...

[2016-08-08 14:26] yannisgu commented on #12
@andreasrueedlinger ich habe jetzt zimliech über Build-Systeme und Angular2 gelesen und bin zum ernüchternen Fazit gekommen, dass ein Angular2 Build-System etwa gleich viel gemeinsamkeiten mit einem React Build-System hat, wie Java und PHP...

Scheinbar ist das Build-System das letzte Puzzle-Stück, welches fehlt für den Go-Live von Angular2. Der Standard-Weg ist mit npm-scripts und SystemJS. Ich b

[2016-08-08 14:29] yannisgu commented on #12
For the record, die Nachteile des lightwight System:

npm scripts:
- Nur mühsam erweiterbar mit minification, cache-breaker, etc...
- Bedingte parallelisierung
- Watch-Mode an Compiler gekoppelt

SystemJS:
- Für jedes File ein Request. HTTP-Requests sind aber teuer...
- Externe Module müssen Manuell "registiert", und zwar an mehreren Orten und werden und werden nicht automatisch erkannt.

[2016-08-09 09:28] yannisgu commented on #12
**Entscheide 9. August:**
- JS wird mit `outFile` gebundelt
- HTML Templates sind TS files mit einem "export string"
- Für CSS wird nicht die Angular2 Funktionalität mit Inline-Styles verwendet, sondern ein externes CSS file, welches via SCSS kompilliert wird. Die Komponenten werden mit Klassen angesprochen
- Cache-Breaker via index.html
- Gulp-File welches alles kompiliert

[2016-08-09 09:52] yannisgu commented on #13
**Entscheid 8. August:**
https://material.angularjs.org/HEAD/getting-started

[2016-08-09 12:01] #13 closed, assigned to nobody

[2016-08-09 12:01] #12 closed, assigned to nobody

[2016-08-09 12:04] yannisgu commented on #11
**Entscheid 8. August:**
Wir verwenden https://github.com/lukeautry/tsoa zur Generierung der Sagger Spec anhand von TypeScript decorators und kommentaren

[2016-08-09 12:04] #11 closed, assigned to nobody

[2016-08-09 12:05] yannisgu commented on #10
**Entscheid 8. August:**
Wir verwenden TypeORM als ORM

[2016-08-09 12:05] #10 closed, assigned to nobody

[2016-08-09 12:09] yannisgu commented on #1
@andreasrueedlinger: Bitte das Wiki aufsetzen und dokumentieren, welche Aspekte ein Entwickler dokumentieren/spezifizieren muss beim Entwickeln eines Features

[2016-08-09 12:14] yannisgu commented on #2
@andreasrueedlinger wir brauchen insbesondere eine Source-Code Struktur.
Mein Vorschlag für den Client

[code]

`components` = Views
`services` = Daten-Zugriff

[2016-08-09 12:16] yannisgu commented on #3
@andreasrueedlinger auch für den Server brauchen wir eine Source-Code Struktur

[2016-08-09 12:18] yannisgu opened #14 "Entitäten für PoC spezifizieren"
- Einheiten
- Personen

[2016-08-09 13:30] yannisgu opened #15 "Refactoring Trainingsarten/Tageswerte-Config"
Wir hatten davon gesprochen die Trainingsarten/Tageswerte-Config aus der DB zu lösen und in einem JSON-File zu verwalten. Unter Trainingsarten/Tageswerte-Config verstehe ich:
- Definition aller Trainingsarten
- Definition aller Intensitätsbereiche
- Definition aller Einheitenteile
- Definition aller Einheitswerte
- Definitionen aller Tageswert-Felder
- und natürlich der Relationen dazwischen...

E

[2016-08-09 14:03] yannisgu opened #16 "TypeORM Multi-Primary-Column support"
Wir müssen TypeORM soweit erweitern, dass es Multi-Primary-Column support erhält.

[2016-08-09 14:07] yannisgu opened #17 "Doku T-Pak 3 DB"
Wie an der SOW-Sitzung besprochen, wird @schaada die T-Pak 3 DB dokumentieren.

@schaada, mein Vorschlag wäre, dass du mit der Verbands-Trainingsarten-Konfiguration anfängst, die ist mir nämlich am schleierhaftesten. Sobald du etwas hast, wäre es gut, wenn du es mit uns teilst, dann können wir "technischen T-Pak Neulinge" Feedback zu Form und Umfang geben.
Passt das Vorgehen für dich so?

[2016-08-09 14:09] yannisgu opened #18 "Abklärungen Hosting"
@svenmoosb, hier noch ein Issue für dein Task bezüglich Abklärungen mit dem aktuellen Hoster

[2016-08-09 14:09] yannisgu opened #19 "Erstellung Anforderungskatalog T-Pak 2030"
@svenmoosb

[2016-08-09 14:12] yannisgu opened #20 "Build-Scripts für Server"

[2016-08-09 17:22] andreasrueedlinger commented on #13
Hier noch der Link, wie man ev. nur die genützen Zeile von Angular Material einbinden könnte:
https://richardtier.com/2015/06/28/angular-material-design-custom-build-include-only-the-parts-you-need/
Ich weiss aber nicht, ob es bei Angular2 ähnlich läuft.

[2016-08-09 17:48] andreasrueedlinger commented on #4
Ich schlage vor, dass wir für Client und Server dasselbe tslint.json verwenden und so die "groben" Guidelines per tslint abdecken. Die zusätzlichen Guidelines und die Hauptpunkte werden noch im Wiki erläutert.

[2016-08-10 11:52] andreasrueedlinger commented on #15
Ja wäre für mich ok. Ich würde aber die DB-Struktur und die Daten dort noch behalten (für den Fall, dass wir irgendwie in diese Richtung zurückwollen)

[2016-08-10 14:09] andreasrueedlinger commented on #2
Eine Bemerkung zu Aufteilung View-Logik/Business-Logik/Daten-Zugriff: Angular empfiehlt jegliche Logik, die nicht zur "Formatierung" der View dient, in [services auszulagern](https://angular.io/docs/ts/latest/guide/style-guide.html#!#05-15). Ich würde diesen Style Guide folgen und wirklich nur das allernötigste in die View-Komponenten packen und alles andere in Service auszulagern. Das heisst:
`co

[2016-08-16 17:39] yannisgu opened #21 "T-Pak Vokabular English finalisieren"
Ciao @andreasrueedlinger

Hier noch ein Issue damit wir das technische Vokabular besprechen können.
Anhand der Wiki-Seite nehme ich an, dass Session der Favorit für "Einheit" ist?

| Deutsch | En |
| --- | --- |
| Trainingseinheit | Session |
| Einheitenteil | SessionPart |
| Trainingsart | SessionType |
| Trainingsartklasse | SessionClassificationValue |
| Trainingsartklassierung | SessionClassif

[2016-08-18 19:09] andreasrueedlinger commented on #21
Bin jetzt endlich mit meiner englischen Mitbewohnerin zusammengesessen.
Ich denke wir sollten "Activity" für Einheit nehmen. Das ergibt dann:

| Deutsch | En |
| --- | --- |
| Trainingseinheit | Activity |
| Einheitenteil | SubActivity |
| Trainingsart | ActivityType |
| Trainingsartklasse | ActivityDetailOption |
| Trainingsartklassierung | ActivityDetail |
| Einheitenwert | ActivityParameter ode

[2016-08-18 19:45] schaada commented on #17
@yannisgu @andreasrueedlinger Ich habe hier (https://github.com/t-pak/code/wiki/Konfiguration-Einstellungen) mal angefangen mit dokumentieren. Würde das für euch so passen bezüglich Form und Umfang?

[2016-08-18 20:57] yannisgu commented on #21
niiice 👍
Ich wäre eher für ActivityParameter und ActivityParameterOption

[2016-08-20 16:29] yannisgu commented on #17
Grundsätzlich sehr gut, evtl. Grafik um die Relationen besser verstehen zu
können?

---

Yannis Güdel, Schulweg 28, 1791 Courtaman, Switzerland
Tel: +41 78 795 67 00, Mail: me@yannisguedel.ch

2016-08-18 21:45 GMT+02:00 schaada notifications@github.com:

[2016-08-29 13:54] andreasrueedlinger commented on #21
Ich habe die Liste noch etwas ergänzt und Entscheide getroffen. Ich denke der Grundstock ist dort, falls dann beim loslegen etwas fehlt: Meldung an mich oder selber ergänzen im Wiki

[2016-08-29 13:54] #21 closed, assigned to andreasrueedlinger

[2016-09-06 08:36] andreasrueedlinger commented on #2
## Vorschlag Clientarchitektur

### Module

Module sind entweder **Komponentenmodule** oder **Servicemodule**, getrennte Module auch wenn das gleiche Feature. Im Arbeitsprozess sollten dann jeweils aber in einem Päckli die Module eines Features zusammengefasst werden.
Beispiel: Päckli "Authentifizierung"
- Servicemodul "Authentifizierungsservice"
- Komponentenmodul "Login" mit allen Login-relevant

[2016-09-10 12:07] yannisgu opened #22 "color und icon properties hinzufügen"
Trainingsarten sollten um ein color und ein icon property erweitert werden:
In den Worten von @andreasrueedlinger  Zusätzlich würde ich gerne im Tree die Referenz auf den Parent haben und dann noch folgende zusätzliche Properties:
- `color`
- `icon` Für die Visualisierung der Activities und SubActivities wird dann die erste definierte Farbe/das erste definierte Icon im Weg nach oben im Tree verwen

[2016-09-11 17:18] yannisgu commented on #2
@andreasrueedlinger passt für mich :)

[2016-09-13 19:09] andreasrueedlinger commented on #16
Es scheint vorwärts zu gehen bei TypeORM. Composite-Primary-Key-Column wurde implementiert sowie auch neue DB-Drivers (SQLite, Postgres, MariaDB). Ich teste es mal mit unserer DB!

[2016-09-20 14:04] andreasrueedlinger commented on #4
Guidelines im Wiki festgehalten: https://github.com/t-pak/code/wiki/Guidelines, deshalb schliesse ich diesen Konzeptionsabschnitt. Das heisst nicht, dass es keine Anpassungen mehr geben kann!

[2016-09-20 14:04] #4 closed, assigned to nobody

[2016-09-20 14:06] andreasrueedlinger commented on #9
Da ich den Client-Build Scripts PR gemerget habe (https://github.com/t-pak/code/pull/2), schliesse ich auch diesen Konzeptionspunkt.

[2016-09-20 14:06] #9 closed, assigned to yannisgu

[2016-09-20 14:09] andreasrueedlinger commented on #20
Build-Scripts (und vieles mehr) Vorschlag als [PR](https://github.com/t-pak/code/pull/6). Es fehlt wohl noch:
- Kopieren package.json
- installieren der node_modules die in production nötig sind
- zippen??

[2016-09-20 14:13] andreasrueedlinger commented on #16
Erfolgreicher Test mit Composite Key, sollte dies Woche noch released werden.

[2016-09-20 14:13] #16 closed, assigned to andreasrueedlinger

[2016-09-20 14:38] andreasrueedlinger commented on #2
Fixiert im [Wiki](https://github.com/t-pak/code/wiki/Architecture-Client)

[2016-09-20 14:38] #2 closed, assigned to andreasrueedlinger

[2016-09-21 06:29] andreasrueedlinger commented on #5
Habe nun das Päckli aufgeteilt in Client und Server

[2016-09-21 06:31] andreasrueedlinger opened #23 "Authentisierung Server für PoC"
- Auf dem Server braucht es Authentisierungsmodul welches den Zugriff regelt (login, logout, token check, Infos aktueller User).
- Serverseitig hat gibt es einen Service, der injected werden kann und den man abzufragen kann, auf welchen Ressourcen der aktuelle User Zugriff hat. Also Beispielweise "darf der aktuelle User die Trainings von User Y sehen" oder "darf der aktuelle User das Team B admini

[2016-09-21 06:36] andreasrueedlinger commented on #6
Dialog oder Seite ist wohl etwas Geschmacksacke. Mit der SPA und einem Caching bei den Data-Services wäre das Performance-mässig wohl nicht so ein Unterschied. Wegen dem Routing (+back/forward Navigation) müsste man aber sicher in jedem Fall die Url anpassen.

[2016-09-21 06:46] andreasrueedlinger commented on #7
[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Client#p%C3%A4ckli-ttb-ansicht-simpel)

[2016-09-21 06:46] andreasrueedlinger commented on #5
[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Client#p%C3%A4ckli-authentifizierung-basis)

[2016-09-21 06:47] andreasrueedlinger commented on #6
[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Client#p%C3%A4ckli-addedit-einheit-simpel)

[2016-09-21 07:29] andreasrueedlinger commented on #23
[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Server#p%C3%A4ckli-authentifizierung-server)

[2016-09-21 07:31] andreasrueedlinger opened #24 "Ressource Einheit PoC"
Auf dem Server muss die Ressource "Einheit"/"Acitivty" mit den Basis-Operationen angeboten werden (GET, PUT, PATCH, DELETE).

[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Server#p%C3%A4ckli-ressource-einheit)

[2016-09-21 07:35] andreasrueedlinger opened #25 "Ressource Module Einheitenconfig/Grundconfigs"
Der Server muss die Einheitenconfig und andere Grundkonfigurationen als Ressource anbieten. Diese sollten wie bei #15 besprochen als JSON-File vorliegen.

[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Server#p%C3%A4ckli-ressource-einheitenconfiggrundconfigs)

[2016-10-02 08:48] yannisgu opened #26 "Authentication enhancements"
Im Moment können wir pro User nur ein Token haben. Das heisst wenn sich ein User auf einem neuen Device einloggt, wird er auf dem anderen Device ausgeloggt. Wir sollten Tokens in einer neuen Tabelle speichern, damit ein User mehrer gültige Tokens haben kann.

[2016-10-02 10:32] yannisgu commented on #25
Ich denke es sollte eine Ressource geben, die die Konfiguration für einen bestimmten User zurückgibt. Diese stellt sich folgendermassen zusammen:
- JSON-Files für Grundstruktur
- "include in basiclevel" kann für so ziemliech alles (Einheitenteil, -wert, etc...)  auf Team, Gruppen und Athleten-Ebene auf "1" gestellt werden

Einstellungen auf Gruppen braucht fast niemand. ~~Denke wir können das für

[2016-10-02 10:32] yannisgu commented on #1
Danke das Wiki steht soweit?

[2016-10-02 10:40] yannisgu commented on #5
@andreasrueedlinger habe die Beschreibung noch etwas angepasst. Passt das für dich so? Möchtest das gleich übernehmen?

[2016-10-02 10:42] yannisgu commented on #14
@andreasrueedlinger  was möchtest du eigentlich hier genau spezifizieren? Wie es in der DB gespeichert ist, wissen wir ja. Wie die API-aussieht, entscheidet der, der die API dafür baut?

[2016-10-02 10:47] yannisgu opened #27 "Deployment-Scripts"
Aktuelle sind die Build-Scripts für die lokale Entwicklung optimiert. Wir müssen "production" Varianten davon bauen und entscheiden wie wir Server und Client - möglichst automatisiert -  deployen.

[2016-10-02 10:47] yannisgu commented on #20
"production-build" machen wir zu einem späteren Zeitpunkt. Meiner Meinung nach auch davon abhängig, wohin wir deployen:  #27

[2016-10-02 11:03] yannisgu commented on #8
Ich resolve das Issue wieder weil...:
- Header macht erst wenn wir eine Navigation haben. Für die Navigation brauchen wir aber eine Informationsarchitektur. Ich habe da ein paar Ideen, aber das ist im Moment nicht wichtig.
- Footer: Wirklich spannend ist das Impressum nicht..
- Ausshen: Da nehmen wir einfach das Google Material default für den PoC

@andreasrueedlinger  ok?

[2016-10-02 11:03] #8 closed, assigned to nobody

[2016-10-02 11:03] yannisgu commented on #6
Seite scheint mir besser. Vorallem wegen:

[2016-10-02 11:39] yannisgu opened #28 "Client Routing"
Wir brauchen eine initiale Konfiguration fürs Routing auf dem Client.

[2016-10-02 11:39] yannisgu commented on #28
FYI: @andreasrueedlinger, ich mache das gerade

[2016-10-02 12:29] yannisgu opened #29 "Material in Build integrieren"
Wir müssen Material 2 irgendwie in unserem Build integrieren.

[2016-10-02 12:31] yannisgu commented on #28
@andreasrueedlinger: PR ist erstellt. Spezifikation/Dokumentation habe ich noch nichts gemacht. Ich bin auch etwas unsicher was  ich genau Dokumentieren soll. Wie eine Route hinzufügen?

[2016-10-03 18:55] andreasrueedlinger commented on #1
Ja, ist "subject to change", aber die Grundzüge stehen. Kann geschlossen werden.

[2016-10-03 18:55] #1 closed, assigned to andreasrueedlinger

[2016-10-03 18:59] andreasrueedlinger commented on #5
Ja es fehlt noch, das token bei jedem Request mitgeschickt werden muss im Header. Ich nehme an da gibt es einen Hook in den http-Service von Angular?

[2016-10-03 19:10] yannisgu commented on #5
@andreasrueedlinger habe deine Anmerkung eingepflegt. Ich weiss nicht was Hooks im Context von Angular-Services sind, aber tönt gut. Die andere Möglichkeit wäre unseren eigenen HTTP-Service zu schreiben, welcher den Angular-HTTP-Service wrappt und den header entsprechend setzt.

[2016-10-03 19:21] yannisgu commented on #24
@andreasrueedlinger FYI, ich habe mal damit angefangen. Kämpfe mit TypeORM Bugs an allen Ecken 😄

[2016-10-04 14:37] andreasrueedlinger commented on #14
Ja ich meine damit auch die Spez des API Interfaces. Und ja finde auch dass das beim API Bau geschieht (Ordner models) und dann ins Swagger file generiert wird. Zusätzlich sollte das Interface aber dann noch irgendwie vom Server zu den Clients "wandern". Schliesse hier und eröffne dafür ein neuer Issue.

[2016-10-04 14:37] #14 closed, assigned to andreasrueedlinger

[2016-10-04 14:38] andreasrueedlinger commented on #20
Ok, dann schliessen wir auch  hier

[2016-10-04 14:38] #20 closed, assigned to nobody

[2016-10-04 14:46] andreasrueedlinger commented on #7
Sieht nicht so aus wie wenn der DatePicker zuoberst auf ihrer TODO-Liste steht bei Angular Material. Haben wir einen Plan B? ngFaces?

[2016-10-04 14:51] andreasrueedlinger commented on #18
Fazit der Abklärungen: exigo unterstützt NodeJS Hosting momentan und in naher Zukunft nicht. Wir müssen für deploy also neue Hosting-Alternative suchen.
Nach etwas Diskussion in engerer Auswahl:
- [Bluewin developer](https://developer.swisscom.com/pricing)
- [Flow engine](https://flow.ch/appengine/)

Bis es aber aktuell wird kann noch einiges auf dem Markt ändern.
Deshalb: Entscheid swiss-orientee

[2016-10-04 15:05] andreasrueedlinger commented on #24
Drücke dir die Daumen :-)
Habe aber noch eine Bemerkung zur Spezifikation: ich schlage vor, dass wir nur einen Hauptpfad nehmen. Entweder immer Singular oder Plural (ich glaube normalerweise Plural), sprich:
`GET /activities/:id`
und
`GET /activities`
wobei ich beim Plural noch folgendes ändern würde:
- from und to als path Parameter `GET /activities/:from/:to` und Format `yyyyMMdd` um Zeichen zu

[2016-10-04 16:22] andreasrueedlinger commented on #28
@yannisgu und Spezifikation: da denke ich es ist es wichtiger die wirklichen Module zu spezfizieren:
- Welche Komponenten, Directives und Services sollen dazu gehören
- Was machen diese genau: Methoden der Services, Teile der Komponenten
- Dies sollte dann zu einem Test-File führen *.spec.ts der diese Dinge testet
  Für den Server ähnlich:
- Welche Routes bietet diese Ressource an, was sind die mö

[2016-10-05 06:29] andreasrueedlinger commented on #3
Wiki updated

[2016-10-05 06:29] #3 closed, assigned to andreasrueedlinger

[2016-10-05 12:36] andreasrueedlinger opened #30 "Ressource Module User"
Für den PoC brauchen wir den Endpoint `users` mit einigen Basisfunktionen:
- `GET current` um die wichtigsten Infos über den aktuell eingeloggten User zu bekommen
- `GET :id` Basisinfos + was öffentlich geschaltet ist über einen beliebigen User
  Nice-to-have, aber nur wenn Zeit dafür:
- `POST password`: change user password
- `PATCH :id`: eigenes User Profil anpassen

[2016-10-05 12:37] andreasrueedlinger commented on #30
[Spezifikation](https://github.com/t-pak/code/wiki/Spezifikation-Server#p%C3%A4ckli-ressource-user)

[2016-10-11 14:43] andreasrueedlinger commented on #28
Gemerget

[2016-10-11 14:43] #28 closed, assigned to yannisgu

[2016-10-18 19:17] schaada commented on #17
@yannisgu @andreasrueedlinger Entschuldigung, es hat ziemlich lange gedauert. Nun ist aber die Datenbank-Dokumentation zu «Einstellungen/Konfiguration Trainingsarten» (https://github.com/t-pak/code/wiki/Konfiguration-Einstellungen-Trainingsarten) fertig. Es ist nicht nur eine Datenbank-Dokumentation, sondern ich habe da mit den Erklärungen noch etwas tiefer gegangen, deshalb ist es recht umfangrei

[2016-10-20 13:17] yannisgu opened #31 "DB Migration tooling"

[2016-10-21 07:50] andreasrueedlinger commented on #17
@schaada Das sieht super aus. Zu ausführlich kann es nicht sein, sonst ist man in einigen Jahren wieder "auf verlorenem Posten" :-) Nächste Tabellen: am besten wäre Personen, Gruppen, Teams und Relationen/Funktionen untereinander (alles was für Zugriffsberechtigungen von Belange ist)

[2016-10-21 08:06] andreasrueedlinger commented on #31
Dies scheint das populärste Tool zu sein:
https://github.com/db-migrate/node-db-migrate

[2016-11-07 17:33] yannisgu commented on #24
Ich habe die Spez entsprechend angepasst.

[2016-11-07 19:53] yannisgu opened #32 "Refactoring Team-Name"
Aktuell wäre es mit dem DB-schema möglich Team-Namen zu übersetzen. Das ist aber im Code aber nicht umgesetzt, und aus meiner Sicht auch nicht notwendig.  Ich plädiere darum dazu `liste_teams`  mit dem der Spalte `name` auszustatten (und alle Werte aus dem Wörterbuch dorthin zu kopieren). Somit muss für den Parallel-Betrieb der Name in beiden Tabellen gepflegt werden, falls ein Team Namen ändern w

[2016-11-07 21:39] andreasrueedlinger commented on #24
Ich habe mal meine Vorstellungen einer Spezifikation beim [authentication Endpoint](https://github.com/t-pak/code/wiki/Spezifikation-Authentifizierung-Server) umgesetzt. Was meinst du dazu? Ich sehe folgende Vorteile darin:
- Kein Overhead, Dokumentation im Code sollte ja sowieso auch vorhanden sein im JSDoc Format
- Bei Spez first macht man sich zuerst wirklich Gedanken welche Methoden man brauch

[2016-11-08 16:41] yannisgu commented on #24
Controller sieht sehr gut aus. Werde das entsprechend für die Einheiten nachziehen.

Beim Service bin ich etwas unsicher. Sollen wir wirklich jeden Service im voraus spezifizieren?

[2016-11-08 16:52] andreasrueedlinger commented on #24
Nicht unbedingt schon den gesamten Service. Das kann auch ein inkrementeller Prozess sein. Aber bevor man eine Methode eines Services schreibt, wäre es wünschenswert zuerst die Signatur zu definieren und sich Gedanken über normales Vorhalten (input, was ist output) und die Edge-Cases zu machen. Unit-tests helfen da sicher auch noch.

[2016-11-08 20:32] andreasrueedlinger commented on #32
@yannisgu gebe auch da die Entscheidungsverantwortung lieber ab :-) Entscheid Verband abwarten. Grundsätzlich wäre es ja schon schöner wenn das "Juniorenkader" bei den französisch-sprachigen Athleten entsprechend anders heisst, nicht?

[2016-11-13 12:58] yannisgu commented on #31
Tooling eingeführt

[2016-11-13 12:58] #31 closed, assigned to nobody

[2016-11-13 13:00] yannisgu commented on #23
Hey @andreasrueedlinger

Was ist hier noch offen? Sicher "hasUserAccessToGroup" etc... sonst noch was?

Möchtest du das jetzt abschliessen - oder mal etwas anders anschauen?

[2016-11-13 13:02] yannisgu commented on #24
TODO:
- Tests
- Spezifikation gemäss authentication anpassen
- Rechte Überprüfung einbauen

Ich brauche aber etwas Abwechslung, und mache jetzt ein bisschen Client-Zeugs...

[2016-11-13 19:30] andreasrueedlinger commented on #23
@yannisgu ich denke für den PoC reicht die momentane Version. Die Group/Team Accesses müssen wir da ja noch nicht prüfen, oder? Und ja würde jetzt gerne mal mit dem Client loslegen :-)

[2016-11-13 19:32] andreasrueedlinger commented on #29
Ist drin oder? Für die Features, die bei material noch fehlen, können wir ev. [primeng](http://www.primefaces.org/primeng) benutzen?

[2016-11-14 16:08] yannisgu opened #33 "Tooling translation / Ablösung Wörterbuch"
Wir müssen definieren wie wir in Zukunft mit Übersetzung umgehen wollen, und ein Tooling dafür schaffen.

[2016-11-14 16:13] yannisgu commented on #33
@andreasrueedlinger ich habe mal einen Entwurf gemacht: https://github.com/t-pak/code/wiki/Translation

Ich habe mir das Tooling von Angular 2 angeschaut und gemerkt, dass es irgendwie nicht unseren Bedürfnissen entspricht. Es kann nämlich mehr oder weniger nur die Werte zu einem XLIFF exportieren und, dann XLIFF wieder "hineinkompillieren".  Für das Management der Übersetzung stellt aber Angular

[2016-11-14 16:32] yannisgu opened #34 "Umstellung von Keys auf IDs"
Wir müssen uns entscheiden ob wir in den Config-Files sprechenden Keys oder IDs oder beides verwenden.

Ich sehe folgende Szenarien:
#### (1) Keys als Referenzen
So wie es aktuell umgesetzt ist. Jede Trainingsart, Trainingswert, etc... hat einen key. Alle Referenzen unter den Config geschehen mit diesem Key. Alle Referenzen in der DB sind mit der ID.

*Pro*
* Referenzen im Config sind einfacher zu

[2016-11-14 16:33] yannisgu commented on #34
@andreasrueedlinger ich habe die Diskussion in ein Issue ausgelagert. Ich persönlich finde Variante 2 suboptimal. Ich habe ein bisschen das Gefühl es kombiniert die Nachteile von Variante 1 und 3.

Ich bevorzuge etwas Variante 1, Variante 3 passt mir aber auch.

[2016-11-14 16:35] yannisgu commented on #32
Hmm, nein, das ist jetzt wirklich nicht wichtig.

[2016-11-14 20:42] andreasrueedlinger commented on #33
@yannisgu Ich habe heute zufälligerweise auch i18n von angular2 angeschaut und bin zum gleichen Schluss gekommen. Vor allem die dynamischen Übersetzungen (zb. der Name einer Trainingsart) aber auch Attribute von Html-Tags (title zb) werden irgendwie nicht wirklich unterstützt.
Das vorgeschlagene Tool gefällt mir, habe mit dem Vorgänger bei angularV1 gearbeitet und gute Erfahrungen gemacht.
Zum Too

[2016-11-15 16:24] yannisgu commented on #33
Hmm, also mein Vorschlag hätte auch keine IDs im `de.json`.
Nur im `translationMapping.json`. Welches "nur" für Übergangsphase da ist. Das brauchen wird, damit wir die "alten" Einträge zu einem späteren Zeitpunkt exportieren können, weil ja nun das "alte" T-Pak auf Tschechisch übersetzt wird.

Aber kannst du dein Vorschlag noch etwas detaillierter beschreiben? Was würde das Tool genau machen. Also

[2016-11-20 19:28] andreasrueedlinger commented on #33
Ok, ich habe wahrscheinlich vorhin deine Idee nicht ganz verstanden. Also wenn ich es jetzt richtig sehe übersetzt dein `migrateDictionary.js` alle "dynamischen" Labels (alle welche irgendwo in der DB referenziert sind)?
Ich habe mehr an die fixen Labels gedacht wie "du hast keine neuen Mitteilungen", "Home", "Zugriff", "Kommentar erfassen" etc. Da sollten wir ja auch neue label-Ids im xx.json ers

[2016-11-22 08:40] andreasrueedlinger commented on #29
Oder materialize-css wäre wahrscheinlich sauberer. Habe es mal integriert in meinem PR [hier](https://github.com/t-pak/code/pull/23)

[2016-12-03 15:08] yannisgu commented on #33
Ja das migrateDictionary würde alle alten Mappings aus der DB in ein neues File in unserem gewünschten Format migrieren.
Die Idee ist, dass wir schon jetzt Labels in Angular brauchen können, wir aber die Migration von DB => Config-File immer wieder machen können. So stellen wir sicher, dass Tschechisch nicht noch mal fürs neue T-Pak übersetzt werden muss.

[2017-02-08 15:52] andreasrueedlinger commented on #34
@yannisgu du hast jetzt ja erste Erfahrungen gemacht bezüglich dieser Thematik bei der ersten Implementierung activity und config services im client. So wie ich sehe kreierst du mal beide Hashmaps und verwendest immer die ids ausser bei den relations. Was meinst du mittlerweile? Ich tendiere weiterhin auf Variante 3, aber nicht weil es beim Client irgendwelche Vorteile hat, sondern weil ich gerade

[2017-02-08 15:55] andreasrueedlinger commented on #34
Langer Rede kurzer Sinn: Variante 1 und 3 ziemlich gleichwertig. 3 = weniger Aufwand jetzt, dafür mühsameres debuggen, verstehen von configs. 1 = mehr Aufwand jetzt (alle keys müssen im Vorfeld kreiert werden! Alle Verbände ausser was wirklich nicht mehr benötigt wird), nachher einfacher zum lesen/debuggen von configs.
Variante 3 wäre zudem noch sparsamer was Datentransfer betrifft.
Schwierige Ent

[2017-02-09 09:35] andreasrueedlinger commented on #33
@yannisgu nachdem ich die Tabellen der Datenbank durchgegangen bin, finde ich dass wir dynamische Labels unterstützen müssen. Ich habe aber eine Idee, wie wir die language files trotzdem mit dem Release rausgeben können und dennoch dynamische Änderungen möglich sind.
Siehe https://github.com/t-pak/code/wiki/Translation#static-and-dynamic-labels

[2017-02-19 15:08] jeggi87 opened #35 "Tpak 4 "erweitern" button führt zu reload"
Klickt man in einem Formular auf den "Erweitern" Button dann gehen alle im Formular eingetragenen Werte verloren, da das Formular neu geladen wird. Kann dies verhindert werden?

[2017-02-20 12:14] yannisgu commented on #34
@andreasrueedlinger: Ich habe mir das eine Weile überlegt und tendiere darauf die Keys wieder fallen zu lassen (Variante 3). Die Argumente hast ja alle nochmals aufgeschrieben.
Für mich ausschlaggebend ist, dass nun zur Hälfte Keys und zur hälfte ID's verwendet werden.  Das verkompliziert den Code unnötig.

Eventuell würde es dafür Sinn machen comments in den Config's zu erlauben und zum parsen de

[2017-02-20 12:22] yannisgu commented on #33
@andreasrueedlinger sieht grundsätzlich gut aus.
Einzig: Ich weiss noch nicht ob ich mit dem letzten Abschnitt einverstanden bin.

Warum? Können wir uns nicht darauf einigen: static = file, dynamic = db.
Ich würde den Release-Prozess gerne so einfach wie möglich und so automatisch wie möglich machen. Da ist jeder Schritt, der verhindert werden kann "zu viel".

[2017-02-20 12:37] yannisgu commented on #35
Hey @jeggi87

Ich nehme an du sprichst von der Luppe in der Ansicht um eine Einheit anzulegen/editieren?
Theoretisch könnte die Einheit gespeichert werden bevor die Ansicht geändert wird.
Der Aufwand dafür würde wohl 2-3PT sein. Ich denke nicht, dass es das wert ist?
Wir werden aber schauen, dass im T-Pak 5 das besser gelöst ist ;)

[2017-02-21 06:39] jeggi87 commented on #35
Hoi @yannisgu

ja es geht um die Lupe.
für diesen Aufwand lohnt es sich nicht.
Idee: wäre es möglich eine Bestätigung ein zubauen? Also dass eine Frage kommt, "Willst du wirklich die "Lupe" ausführen?" Button Ja / Abbbrechen. Dann könnte man nämlich dort auch noch hinschreiben, "Achtung, die Daten im Formular gehen verloren. Umgehen via Abbrechen, Speichern und dann Einheit editieren."
Falls halte

[2017-02-21 12:12] andreasrueedlinger commented on #33
@yannisgu ok, ja das können wir. Ich dachte einfach so gäbe es etwas weniger Serveraufrufe. Dafür wird das json halt grösser. Release-Prozess einfach halten finde ich aber gut.

[2017-02-21 12:14] andreasrueedlinger commented on #35
@jeggi87 eigentlich haben wir ja entschieden, dass wir kein Bugfixing im T-Pak 3/4 machen, ausser es ist wirklich "produktionsgefährdend". Dein Problem würde ich jetzt aber in der Priorität eher tief einstufen (ist ja schon immer so) und deshalb nicht mehr angehen und die Ressourcen auf Version 5 verwenden.

[2017-02-21 22:19] jeggi87 commented on #35
@andreasrueedlinger und @yannisgu
ja ruud hat recht, es ist nicht relevant und vor allem, es ist schon seit beginn an so. lassen wir dies. Dachte anfangs es sei ev. nur eine Einstellung im Formular, die es ermöglichen würde. Konzentrieren wir uns auf die neue Version.

[2017-02-23 07:34] andreasrueedlinger commented on #18
Entscheid 23.1.17: wir setzen auf [uberspace](uberspace.de). Siehe [Wiki](https://github.com/t-pak/code/wiki/Infrastructure-Documentation).
@yannisgu kann dieser Issue damit geschlossen werden?

[2017-02-23 07:45] andreasrueedlinger commented on #29
Materialize-css ist wieder draussen. Wir setzen voll auf material 2.

[2017-02-23 07:45] #29 closed, assigned to yannisgu

[2017-02-23 07:45] #23 closed, assigned to andreasrueedlinger

[2017-02-23 07:46] andreasrueedlinger commented on #24
Für PoC reicht der momentane Stand einmal fürs Erste

[2017-02-23 07:46] #24 closed, assigned to yannisgu

[2017-02-23 07:53] andreasrueedlinger commented on #5
Ändere das Ticket nun zu Authentication Module Client für T-Pak 5 Base

[2017-02-23 07:56] andreasrueedlinger commented on #6
Abgeschlossen für PoC in https://github.com/t-pak/code/pull/25

[2017-02-23 07:56] #6 closed, assigned to nobody

[2017-02-23 07:57] andreasrueedlinger commented on #7
Abgeschlossen für PoC in https://github.com/t-pak/code/pull/25

[2017-02-23 07:57] #7 closed, assigned to nobody

[2017-02-23 08:00] andreasrueedlinger commented on #15
Update: grösster Teil des Config-Skripts steht nun. Es fehlen aber noch die Tageswerte und wie in #34 besprochen die Umstellung auf IDs statt keys

[2017-02-23 08:02] andreasrueedlinger commented on #17
@schaada wie sieht es aus bei diesem Vorhaben? Kommst du irgendwann wieder einmal dazu?

[2017-02-23 08:05] andreasrueedlinger commented on #19
Dokument steht soweit, weiteres Vorgehen: Details in Workshop bestimmen

[2017-02-23 08:05] #19 closed, assigned to nobody

[2017-02-23 08:06] andreasrueedlinger commented on #22
Das Ticket ist wohl etwas früh schon hier, sollte vor allem in den Workshop einfliessen

[2017-02-23 08:13] andreasrueedlinger commented on #25
Wird nicht mehr in PoC umgesetzt

[2017-02-23 08:16] andreasrueedlinger opened #36 "Datenbank Migrationen"
Wir müssen ein einfaches Verfahren haben, um die Datenbank-Struktur anzupassen (lokal Development + Server), damit überall auf den gleichen Datenbank-Schemas gearbeitet wird. Zudem müssen auch die Daten migriert werden bei solchen Updates.

[2017-02-23 08:17] andreasrueedlinger commented on #36
Sollte hier kommen: https://github.com/t-pak/code/wiki/HowTo-Migration-Databasemodell

[2017-02-23 08:17] andreasrueedlinger commented on #36
Zudem dazugehörende Links:
https://github.com/t-pak/code/wiki/Dokumentation-Datenmodell
https://github.com/t-pak/code/wiki/Datenbankmanagement

[2017-02-23 08:18] andreasrueedlinger commented on #30
Wird nicht in PoC umgesetzt

[2017-02-23 08:21] andreasrueedlinger commented on #32
Neuer Vorschlag bezüglich mehrsprachigen Namen: https://github.com/t-pak/code/wiki/Translation#dynamic-labels
Verbände/Teams/Gruppen können wählen ob ein- oder mehrsprachig

[2017-02-23 08:23] andreasrueedlinger commented on #33
Erste Version des Skript Tools: https://github.com/t-pak/code/pull/34

[2017-02-23 08:26] andreasrueedlinger commented on #34
Ok, Entscheid: zurück zu IDs! Kommentare oder Descriptions Feld in Json

[2017-02-23 08:27] andreasrueedlinger commented on #34
Umsetzen zusammen mit #15

[2017-02-23 08:28] andreasrueedlinger commented on #35
Won't fix

[2017-02-23 08:28] #35 closed, assigned to yannisgu

[2017-02-23 08:44] andreasrueedlinger opened #37 "Core Module Client"
Auf Client-Seite brauchen wir ein Core-Modul, das die wiederverwendeten Kernfunktionalitäten beinhaltet und kapselt. Das Modul hat keine Abhängigkeiten auf andere T-Pak Module!
Nicht abschliessende Liste des Modulinhalts:
* DataService: ein Service der Http-Service von Angular wrappt und sich dabei um Authentifizierung und Error-Handling kümmert
* UserStateService: ein Service, der den momentan Zu

[2017-02-23 08:47] andreasrueedlinger commented on #37
Estimated work: 1d

[2017-02-24 17:19] yannisgu opened #38 "Konfiguration Test-Umgebung auf Uberspace"

[2017-02-24 17:20] yannisgu commented on #18
Jep, Ticket zur Konfiguration der Testumgebung: https://github.com/t-pak/issues/issues/38
Update folgt...

[2017-02-24 17:20] #18 closed, assigned to nobody

[2017-02-24 17:26] yannisgu opened #39 "T-Pak 4 Fehler auf der Produktion: getSprache6"
Folgender Fehler ist in den letzten Tagen 1 Mal aufgetreten:
[code]

[2017-02-24 17:27] yannisgu opened #40 "T-Pak 4 Fehler auf der Produktion: Undefined index: ordner"
Folgender Fehler ist auf der Produktion mehrmals aufgetreten:
[code]

[2017-02-25 12:55] andreasrueedlinger commented on #40
Seit wann ist `undefined index` bei php ein `fatal error`? Dachte das spukt nur eine Warnung raus

[2017-02-25 13:01] andreasrueedlinger commented on #40
Sorry, gibt sogar nur ein `Notice` bei `undefined index`. Man beachte `Errno 8` was nur ein Notice ist, siehe http://php.net/manual/de/errorfunc.constants.php:

Wert|Konstante|Beschreibung|Bemerkung
---|---|---|---
1|```E_ERROR (integer) ```|Fatale Laufzeit-Fehler. Dies zeigt Fehler an, die nicht behoben werden können. Beispielsweise Probleme bei der Speicherzuweisung. Die Ausführung des Skripts w

[2017-02-27 14:43] #37 closed, assigned to andreasrueedlinger

[2017-02-27 14:44] andreasrueedlinger commented on #5
Estimated work: 2d

[2017-03-04 17:28] andreasrueedlinger commented on #39
getter von Sprache 6 hat noch gefehlt, ups!

[2017-03-04 17:28] #39 closed, assigned to nobody

[2017-03-04 17:30] andreasrueedlinger opened #41 "T-Pak 4 Fehler auf der Produktion: Call to a member function getSid() on a non-object"
[code]

[2017-03-04 17:32] andreasrueedlinger opened #42 "T-Pak 4 Fehler auf der Produktion: getNrFunktionenAktuell() on a non-object"
Folgender Fehler ist in den letzten Tagen einige Male aufgetreten:
[code]

[2017-03-05 09:54] andreasrueedlinger commented on #41
Habe versucht den Fehler nachzuvollziehen. Habe aber wieder aufgegeben, da an tausenden Orten eine neue Person instanziert wird und irgendwie ein zieliches Durcheinander herrscht in meinen Augen.
Der obige Fehler kann, wenn ich den Code richtig gelesen nur in äusserst seltenen Fällen auftauchen (wenn nämlich der Session Check erfolgreich war und die Session validity 15min verlängert wurde, dann ab

[2017-03-05 09:56] andreasrueedlinger commented on #41
Was aber sicher nicht korrekt ist:
[code]
Das `trigger_error` und der `header`-call haltet den Code nicht an (entweder `return` oder gerade `die` würde da helfen.

[2017-03-05 10:02] andreasrueedlinger commented on #26
Ich schlage noch ein Enhancements mehr vor beim Login-Mechanismus:
"angemeldet bleiben" Häkchen beim Login

Implementations-Vorschlag:
* wenn Häkchen angewählt wird token in Browser persistiert (z.B. in localstorage, am besten mit einer polyfill-library mit fallback auf cookie oä.)
* wenn Seite geladen wird wird token von dort gelesen, geprüft und gesetzt
* nice-to-have (siehe github): bei change

[2017-03-06 08:17] andreasrueedlinger opened #43 "Language Module Client"
We need a language module with a language service and a component showing a menu to select the language.

[2017-03-09 06:55] andreasrueedlinger commented on #36
Entwicklungsdatenbank: Entwickler sollten die Grundstruktur, eine Ausgangsversion vor allen Migrationen, downloaden können. Dies sollten nicht die "Live-Daten" sein (Datenschutz und Grösse, > 1GB).
Idee:
1. Live-DB kopieren
2. alte Daten löschen
3. "intime" Daten anonymisieren
4. zippen und auf Github? laden

*UPDATE*:
Ich habe ein Skript geschrieben, der dies macht. Es macht folgende "Anonymisier

[2017-03-09 14:23] andreasrueedlinger commented on #36
Updated
https://github.com/t-pak/code/wiki/Database-Management
und
https://github.com/t-pak/code/wiki/HowTo-Migration-Databasemodel

@yannisgu  was meinst du dazu?

[2017-03-09 19:30] andreasrueedlinger commented on #36
Siehe https://github.com/t-pak/code/pull/39

[2017-03-19 13:06] yannisgu commented on #36
Gute Idee 👍
Ich denke wir laden das ZIP eher auf Uberspace herauf (evtl. mit basic auth geschützt)

[2017-03-19 13:09] yannisgu opened #44 "Refactoring Tageswerte"
Die Konfiguration der Tageswerte muss noch in die Config-Files migriert werden.

[2017-03-19 13:10] yannisgu commented on #15
Die restlichen Tasks werden in den Issues #34 und #44 abgearbeitet.

[2017-03-19 13:10] #15 closed, assigned to yannisgu

[2017-03-20 15:55] yannisgu commented on #43
@andreasrueedlinger Ist da noch was offen?

[2017-03-20 16:06] yannisgu opened #45 "Konzeption Analyse"
Der Analyse Bereich wurde am Workshop konzipiert und muss nun dokumentiert werden.

[2017-03-20 16:11] yannisgu opened #46 "Schätzungen für Feature Modules 1 überprüfen"
Die Schätzungen für die Features "Trainingserfassung", "Listen-Ansicht" und "Tageswerte" muss überprüft aufgrund der detaillierten Konzeption überprüft werden.

Sobald die Konzeption des Analyse-Bereichs abgeschlossen ist (#45), muss dieser ebenfalls geschätzt werden.

[2017-03-20 16:24] yannisgu commented on #36
Offene Tasks:
- [ ] ZIP auf Ubserspace passwort geschützt laden
- [ ] Link dokumentieren

Sonst noch was @andreasrueedlinger?

[2017-03-21 10:17] andreasrueedlinger commented on #43
nein, habe den PR gemerged (inkl. ein paar wenige Anworten auf deine Fragen)

[2017-03-21 10:17] #43 closed, assigned to andreasrueedlinger

[2017-03-22 21:36] andreasrueedlinger commented on #5
PR https://github.com/t-pak/code/pull/37 merged

[2017-03-22 21:36] #5 closed, assigned to andreasrueedlinger

[2017-03-22 21:37] andreasrueedlinger commented on #33
PR https://github.com/t-pak/code/pull/34 merged

[2017-03-22 21:37] #33 closed, assigned to andreasrueedlinger

[2017-03-22 21:39] andreasrueedlinger opened #47 "Client Routing"
Wir müssen das Routing im Client "nach allen Regeln der Kunst" aufsetzen und für all die kommenden Feature-Module vorspuren.
Ich habe einmal die Routing Architektur etwas versucht zu skizzieren:
https://github.com/t-pak/code/wiki/Client-Routing

@yannisgu was meinst du dazu?

[2017-03-22 21:39] andreasrueedlinger commented on #47
Dazugehöriger PR: https://github.com/t-pak/code/pull/40

[2017-03-22 21:42] andreasrueedlinger commented on #46
\+ "Einstellungen/Benutzerprofil"

[2017-03-23 18:23] schaada commented on #17
@andreasrueedlinger Ich hoffe sehr, dass ich da wieder einmal dazu komme. Ich habe es nicht vergessen.

[2017-03-25 18:57] yannisgu commented on #30
@andreasrueedlinger möchtest du das noch im "T-Pak 5 Base" Milestone machen? Würde es nicht eher Sinn machen die API zusammen mit dem User-Profil zu bauen?

[2017-03-25 19:01] yannisgu commented on #26
Vorschlag bezüglich priorität:
- Mutli-Token bauen wir irgendwann im Herbst (also nach den wichtigsten Features)
- "angemeldet bleiben" machen wir noch im "T-Pak 5 Base"
- Auf nice-to-have verzichten. Aus meiner Sicht für T-Pak nicht wirtschaftlich.

Was meinst du @andreasrueedlinger?

[2017-03-25 20:09] andreasrueedlinger commented on #26
@yannisgu Ok, bin einverstanden mit dem nice-to-have. Das multi-token habe ich aber schon praktisch fertig implmentiert. Also wirds wohl in den nächsten Milestone kommen. Es gibt eben einen kleinen Umbau beim authenticationService und da ist es wohl besser jetzt gerade alles aufs Mal machen, wenn ich schon voll im Code drin bin. Ok?

[2017-03-25 20:11] andreasrueedlinger commented on #30
Ok ja das macht Sinn!

[2017-03-25 20:54] yannisgu commented on #47
Ciao Ruud

Gefällt mir sehr gut das Ganze.
Ich habe eigentlich keine Bemerkungen/Einwände zur Wiki-Seite

[2017-03-25 20:56] yannisgu commented on #26
Wenn du sowieso drin bist, unbedingt!

[2017-03-25 21:42] andreasrueedlinger commented on #26
PR: https://github.com/t-pak/code/pull/41

[2017-03-27 16:37] andreasrueedlinger commented on #47
Merged https://github.com/t-pak/code/pull/40

[2017-03-27 16:37] #47 closed, assigned to andreasrueedlinger

[2017-04-01 09:50] andreasrueedlinger commented on #26
Hat sich noch ein Bug eingeschlichen, neuer PR: https://github.com/t-pak/code/pull/42

[2017-04-03 13:19] andreasrueedlinger commented on #34
Done, siehe PR: https://github.com/t-pak/code/pull/44
Habe es jetzt so gelöst, dass überall die Ids drin sind, per default aber auch eine description geschrieben wird, damit fürs Debuggen etwas mehr Übersicht herrscht. Mit flag `-p` oder `--prod` werden diese descriptions unterdrückt (für Produktion dann)

[2017-04-03 14:27] andreasrueedlinger commented on #44
Done, siehe PR https://github.com/t-pak/code/pull/45
Einige Änderungen zum bisherigen DB-Modell:
- überflüssige Tabelle (mit `var` Spalte) so einfach ausgeblendet im config file
- zusätzlich `type` und `metric` eingefügt um einheitliche Masseinheiten zu haben von jetzt an und die Typen zu validieren

Weitere TODOs:
- [x] `cm` als Masseinheit hinzufügen
- [x] Körpergrösse: Eingabewerte "normalisier

[2017-04-04 14:19] andreasrueedlinger commented on #22
Habe mal vorgespurt bei der config generation und in config model.
Als Test habe ich Testicons von DOSB (https://www.dosb.de/de/service/download-center/medien/sport-piktogramme/) genommen (nur für dev!!) und für 3 Typen Farben und Icons definiert.
PR: https://github.com/t-pak/code/pull/46

[2017-04-04 14:21] andreasrueedlinger commented on #22
Wie wir das dann graphisch genau umsetzen, können wir später noch genauer anschauen.
Screenshot vom Test:
<img width="336" alt="grafik" src="https://cloud.githubusercontent.com/assets/9654191/24661439/abc415bc-1952-11e7-9a31-9ea525540e36.png">

[2017-04-04 14:23] andreasrueedlinger commented on #36
@yannisgu siehe Kommentar beim [PR](https://github.com/t-pak/code/pull/43), was meinst du zu den typeorm migrations?

[2017-04-04 14:33] andreasrueedlinger commented on #22
@jeggi87 Kannst du einmal den momentanen Trainingsarten-Baum überarbeiten und die Farben definieren? Ev. müsstest du da auch noch Feedback von rundherum einholen!
Was aus meiner Sicht am dringensten ist:
* Kategorie "Ergänzende Ausdauer" um Velo, WetWest, etc. zusammenzufassen (auch für Statistiken dann)
* ev. Umbenennung Kraft- und Kräftigungstraining??
* Laufschule ist meiner Meinung nach in der

[2017-04-05 13:16] andreasrueedlinger opened #48 "Einheitenwerte aufräumen"
Wahrscheinlich nicht das letzte was wir feststellen: in der Tabelle `relation_einheiten_einheitenwerte` gibt es fast 400'000 Einträge die einen leeren Wert haben! Das schreit nach Aufräumen. Ausserdem müssten die Einheitenwerte auch einmal überprüft werden: welche kann man ausmustern, welche Neuen braucht es.
Vor allem: es gibt einen Wert mit Typ `select_number` bei der Massstabauswahl. Braucht es

[2017-04-07 09:53] jeggi87 commented on #22
hier ist die Seite mit den Definitionen und den Farben: [UX-Trainingsarten](https://github.com/t-pak/code/wiki/UX-Trainingsarten)
ist noch nicht alles so fix, aber ist mal ein erster Stand.

[2017-04-07 12:45] andreasrueedlinger commented on #22
Cool, hier noch einige Bemerkungen:
* die Grundeinteilung "sportartspezifisch"/"ergänzend"/etc ist fix konfiguriert und finde ich so sinnvoll
* ich würde deshalb deine Hauptkategorien als Unterkategorien in diesen vorhandenen unterbringen (nur wo dies nicht schon kongruent ist wie zb bei Mental/Regeneration:
  * OL + Laufen in sportartspezifisch
  * Kraft + ergänzende Ausdauer in "sportartergänzen

[2017-04-08 07:03] jeggi87 commented on #22
super, merci. habe alles umgesetzt.

- Unterteilung kapierte / beachtete ich bis jetzt nicht richtig. habe es nun so umgesetzt wie von dir vorgeschlagen
- Aquajogging: dies ist neu der Begriff
- Atemtraining ≠ Atmungstechnik: stimmt, das eine ist physisches Training, das andere mentales. ich gehe noch etwas den sauberen Begriffen nach
- Massage: machen wir so

Farbe: finde deine Vorschläge gut und

[2017-04-08 07:10] jeggi87 opened #49 "Wiki und Multi Language"
Konntet ihr euch das Thema Wiki als Hilfe mal anschauen?
Wenn dies mal aufgesetzt wäre könnte ich gut selbstständig an diesem Arbeiten. Einfach dies mit der Sprache muss geklärt sein.
Gleiches gilt auch fürs T-pak und alle Sprachen: Dies hängt ja teils auch mit der Hilfe zusammen. Auch hier würde ich mich um die verschiedenen Begriffe kümmern (es hat ja auch noch einige Fehler), wenn ich von euch

[2017-04-10 09:46] andreasrueedlinger commented on #49
@jeggi87 T-Pak und Sprachen: siehe https://github.com/t-pak/code/wiki/Translation, wir können ein csv-File rausspucken für eine Sprache. Wenn dies übersetzt ist, lesen wir das csv wieder ein

[2017-04-10 09:50] andreasrueedlinger opened #50 "Clean Up DB Schema Activities"
Wir müssen das DB Schema rund um die activities etwas aufräumen und vor allem viele Felder `nullable` machen und alte empty-String Werte auf `null` setzen.

[2017-04-10 09:52] andreasrueedlinger commented on #50
Grundsätzlich ist bei einer Einheit alles ausser Datum und Typ optional.

[2017-04-12 07:26] andreasrueedlinger commented on #22
@jeggi87 Unterform "Stabilisation": verwende ich momentan sehr häufig und rege mich immer auf, dass sie nicht in "Kombitraining" vorhanden ist. Stabilisation ist Stabitraining, z.B. tiefe Bauchmuskeln trainieren, Einbeistandübungen, Balanceübungen und solches Zeugs. Oder wo würdest du dies unterbringen?

[2017-04-13 12:43] andreasrueedlinger opened #51 "Überarbeiten Trainingsarten"
Trainingsarten sollten wieder einmal überarbeitet und hinblicklich neue Funktionalitäten überprüft werden.
Siehe Wiki: https://github.com/t-pak/code/wiki/UX-Trainingsarten

Anpassungen sollten soweit möglich schon in T-Pak 4 umgesetzt werden (als Verbandsadmin) und danach per Skript automatisch übernommen werden.

[2017-04-13 12:44] andreasrueedlinger commented on #22
@jeggi87 Ich habe ein neuer Issue erstellt: #51, am besten dort weiterdiskutieren

[2017-04-13 12:45] andreasrueedlinger commented on #51
Ich habe erste Änderungen als Verbandsadmin vorgenommen:
* die schon vorhandene Trainingsart "ergänzendes Ausdauertraining" aus "nicht zugeordnet" zu "sportartergänzend" geschoben und die entsprechenden Trainingsarten "darin versorgt".
* Massage als separate Trainingsart definiert unter Regeneration

[2017-04-18 08:29] jeggi87 commented on #49
ok, sieht gut aus.
Thema Wiki: da könnte ich wirklich dran arbeiten, wenn ihr mir dies einrichten könnt. Übersetzung ist wohl dann eher später.

[2017-04-18 08:41] jeggi87 commented on #51
super, passt.
zum Thema "Stabilisation" unter Kraft: ich verstehe darunter auch das gleiche wie du Ruud, also die Muskeln die für die Körper Stabilisation zuständig sind. Nur passt es dann für mich nicht zu den anderen Begriffen wie: Maximalkraft, Muskelausdauer und Muskelquerschnitt. Das sind Formen wie du die Muskulatur trainierst. Die Stabilisationsübungen sind (meist) Muskelausdauer Trainings.

[2017-04-18 11:54] #26 closed, assigned to andreasrueedlinger

[2017-04-18 11:54] #34 closed, assigned to andreasrueedlinger

[2017-04-18 15:00] andreasrueedlinger commented on #22
[PR](https://github.com/t-pak/code/pull/46) merged

[2017-04-18 15:00] #22 closed

[2017-04-18 15:03] andreasrueedlinger commented on #46
Schätzungen überprüft und im Wiki dokumentiert:
https://github.com/t-pak/code/wiki/UX

[2017-04-18 15:03] #46 closed, assigned to andreasrueedlinger

[2017-05-04 13:20] andreasrueedlinger commented on #30
Überarbeitung Endpoints:
`GET /user/current` basic user data current user
`GET /user/:id`basic user data requested user
`POST /user/changePassword`
`GET /user/profile` extended user data of current user
`PUT /user/profile` update user data of current user
`GET /user/settings` get current user application settings (like notifications settings, language, ...)
`PUT /user/settings`update current user

[2017-05-08 07:51] yannisgu opened #52 "Wiki konfigurieren"

[2017-06-04 19:20] schaada commented on #17
@yannisgu @andreasrueedlinger Die Seite Model Organization (https://github.com/t-pak/code/wiki/Model-Organization) habe ich reviewed und ergänzt. Was wäre der nächste Bereich für die Dokumentation? Ich kann nicht garantieren, dass ich das gleich machen kann, aber vielleicht habe ich ja irgendwann Zeit. Die nächste Zeit ist für mich etwas unsicher zu planen, da ich spätestens in zwei Monaten Mutter

[2017-06-30 13:14] yannisgu opened #53 "Upgrade auf npm 5"
@andreasrueedlinger @LukasSkywalker habt ihr euch schon mit npm 5 auseinandergesetzt?
Denke es würde Sinn machen zu "upgraden". Meine primäre Motivation ist package-lock-json, sodass unsere npm-dependencies etwas stabiler werden.  Konkret würde das heissen:
- Requirements im Wiki anpassen
- Node Version lokal updaten
- package-lock.json commiten

Was meint ihr?

[2017-06-30 13:36] andreasrueedlinger commented on #53
Habe mir npm 5 jetzt etwas angeschaut und das lockfile macht wirklich Sinn. Ist ja gerade jetzt wieder aufgetreten so ein Fall, der einfach den build verhaut. Bin also für das Update!

[2017-06-30 14:59] yannisgu commented on #52
Wiki ist aufgesetzt.

[2017-06-30 14:59] #52 closed, assigned to nobody

[2017-07-05 13:33] andreasrueedlinger commented on #53
merged https://github.com/t-pak/code/pull/59
npm 5 scheint aber auch noch etwas buggy, musste jetzt schon 2-3 mal ganzes node_modules Directory und das lock-file löschen und alles neu installieren. Sonst ging plötzlich die angular-cli nicht mehr nach einem branch Wechsel

[2017-07-05 13:38] andreasrueedlinger commented on #36
ZIP hochgeladen und Link im Wiki, deshalb: closing issue

[2017-07-05 13:38] #36 closed, assigned to yannisgu

[2017-07-05 13:42] andreasrueedlinger commented on #30
merged
https://github.com/t-pak/code/pull/51

[2017-07-05 13:42] #30 closed, assigned to andreasrueedlinger

[2017-07-05 13:47] andreasrueedlinger opened #54 "User Profile Client"
Client-Part des User Profil, Spezifikationen:
* https://github.com/t-pak/code/wiki/UX-User-Men%C3%BC#profil-
* https://github.com/t-pak/code/wiki/UX-Profil (alt, noch nicht diskutiert)

- [x] User Profil Übersichtsseite (https://github.com/t-pak/code/pull/55)
- [x] Formular Userdaten (Standard) (https://github.com/t-pak/code/pull/55)
- [x] Formular Userdaten (custom): (https://github.com/t-pak/cod

[2017-07-05 13:52] andreasrueedlinger commented on #54
@yannisgu kommst du zum reviewen in nächster Zeit oder soll ich @LukasSkywalker damit beauftragen?

[2017-08-07 13:33] yannisgu opened #55 "Umsetzung Analyse-Berreich"
- [x] API für "meine" Teil-Statistiken (4h)
- [x] API für den Zustand der Analyse-Seite (offene Teilstatistiken, Zeitraum, etc...) (4h)
- [x] Styling von Highcharts (2PT)
#  Balkenstatistiken darstellen
- [x] Nach Trainingsart (1PT)
- [x] Intensität (1PT)
- [x] Einheitenteil (1PT)

# Linien-Statistik darstellen
- [x] Linien-Statistik: Tageswerte-Statistiken (1PT)
- [x] Legende von Tageswerten (1PT

[2017-09-08 07:39] yannisgu opened #56 "Einheitenwert Borg muss bei allen Trainingsarten ausgewählt werden"
In der Trainingskonfiguration müssen wir den Borg Einheitenwert allen Trainingsarten zuweisen.

[2017-09-08 09:59] yannisgu opened #57 "Umsetzung Listenansicht"
## API endpoints
- [x] API preferences (Filter-/Anzeigeeinstellungen) (1PT)
- [x] API activities (offen: planned activities, etwas aufräumen) (4h)
- [x] API Vorlagen: -> Trainingserfassung
- [x] API Tageswerte: -> Tageswerte
- [x] API Kommentare: -> Kommentare
- [x] API Gruppen/Teams: -> User Profil
- [x] API "meine" Athleten (4h)

##  Client Services
- [x] Services für alle API endpoints oben (4h

[2017-09-08 10:00] yannisgu opened #58 "Umsetzung Anlase Bereich"

[2017-09-08 11:30] #58 closed, assigned to yannisgu

[2017-09-08 11:31] yannisgu commented on #58
duplicate https://github.com/t-pak/issues/issues/55

[2017-11-02 06:41] andreasrueedlinger commented on #25
erster PR erstellt: https://github.com/t-pak/code/pull/88
Erste Version der endpoints und client services. Es fehlen noch :
- [x] unit-tests
- [x] Doku
- [x] Access Check

[2017-11-02 06:41] andreasrueedlinger commented on #27
@yannisgu wie ist der Stand da?

[2017-11-02 06:48] andreasrueedlinger commented on #32
wurde in https://github.com/t-pak/code/pull/51 umgesetzt (Property name). Falls später entschieden wird, dass Mehrsprachigkeit doch unterstützt wird, kann das `DynamicLabel` verwendet werden, das auch bei den custom user data verwendet wird.

[2017-11-02 06:48] #32 closed, assigned to nobody

[2017-11-02 06:50] andreasrueedlinger commented on #38
@yannisgu da bist du mittlerweile auch schon weiter oder?

[2017-11-02 06:52] andreasrueedlinger commented on #44
@yannisgu was meinst du zu den offenen Punkten?

[2017-11-02 06:53] andreasrueedlinger commented on #45
Dokumentiert, bzw. spezifiziert in Wiki: https://github.com/t-pak/code/wiki/UX-Analyse

[2017-11-02 06:53] #45 closed, assigned to yannisgu

[2017-11-02 06:54] andreasrueedlinger commented on #49
ist nun eingerichtet

[2017-11-02 06:54] #49 closed, assigned to nobody

[2017-11-02 06:58] andreasrueedlinger commented on #51
Spezifikation: https://github.com/t-pak/code/wiki/UX-Trainingsarten
Umsetzung wenn möglich schon in T-Pak 4, sonst ins Migrationsskript einbauen

[2017-11-02 07:05] andreasrueedlinger commented on #53
mittlerweile läuft npm 5 schon sehr stabil.
@yannisgu Müssen wir die genaue Version festlegen oder sollen wir hier schliessen?

[2017-11-02 07:22] andreasrueedlinger commented on #57
@yannisgu sorry, habe deinen "Initial-Comment" geändert, da nur die checklists dort auch erkannt werden in der Übersicht :-)

[2017-11-02 07:47] andreasrueedlinger commented on #56
@jeggi87 @yannisgu Borg soll bei ganz allen Trainingsarten dabei sein oder bei allen "sportlichen" bzw. allen in sportartspezifisch, ergänzend und Ausgleich? Regeneration und Mental macht wenig Sinn oder?

[2017-11-02 08:27] andreasrueedlinger commented on #56
Ich habe nun als Verbandsadmin in Tpak4 bei allen Trainingsarten unter sportartspezifisch, sportartergänzend und Ausgleich Borg hinzugefügt. So wie es aussieht müsste man aber einmal alle diese Werte überarbeiten und schauen, was wo sinnvoll ist. Z.B. hat es fast bei allen Arten "Trainingsbelastung" mit Einheit Foster und nun halt auch noch den Borg. Ist etwas doppelt gemoppelt.

[2017-11-06 21:18] #53 closed, assigned to nobody

[2017-11-21 07:34] andreasrueedlinger commented on #54
User Profile sollte nun fertig sein!

[2017-11-21 07:34] #54 closed, assigned to yannisgu, andreasrueedlinger

[2017-11-21 07:51] andreasrueedlinger opened #59 "Umsetzung Tageswerte"
## Model
 - [x] Update Tageswerte Auswahl gemäss Spez (1PT)
 - [ ] neuer "Tageswert" Tagesstatus (1PT)

## API endpoints
- [x] API Tageswerte Config
  - [x] Tageswerte Config Standard -> schon mit diary-configuration implementiert
  - [x] Tageswerte als Pflichtfeld konfigurierbar (1PT)
  - [x] Default-Werte Tageswerte (GUI Verbandssettings gestrichen, Default-Wert wird momentan nur global definier

[2017-12-01 13:09] yannisgu opened #60 "Bug: Betreuer ohne Mitglied zu sein in einem Team"
Hallo @andreasrueedlinger

Mir ist grad etwas aufgefallen: Wenn ein Betreur nicht im Team ist, des Athleten dann knallts im Endpoint `api/configuration/{id}`:
[code]
## Steps to reproduce
0. Einloggen als erich9
0. Im TTB "Annemie Meißner" auswählen

[2017-12-03 21:11] andreasrueedlinger commented on #60
@yannisgu das Problem ist nicht, dass Betreuer nicht in diesem Team ist, sondern, dass bei der Athletin der ausgewählte Verband auf NULL gesetzt ist. Auch bei Verbänden <> swiss orienteering wirds wohl einen Fehler geben.
Soll ich den Fall abfangen mit einer leeren Config als Fallback?

[2017-12-03 21:13] andreasrueedlinger commented on #60
siehe https://github.com/t-pak/code/pull/102

[2017-12-07 08:17] andreasrueedlinger opened #61 "Update to pipeable rxjs operators"
Momentan importieren wir jeweils das ganze rxjs bundle-Päckli. Um den build Prozess zu optimieren und den bundle zu verkleinern sollten wir auf lettable Operators wechseln und nur die Operators importieren, die wir jeweils verwenden.
https://github.com/ReactiveX/rxjs/blob/master/doc/pipeable-operators.md
Am besten geschieht dies wenn keine PRs offen sind, da ein grosser Teil des Codes betroffen se

[2017-12-08 13:19] #60 closed, assigned to andreasrueedlinger

[2017-12-11 15:39] andreasrueedlinger opened #62 "Nodemailer/Smtp beim Logging hinzufügen"
Beim serverseitigen Logging sollte noch ein smtp-appender konfiguriert und hinzugefügt werden um per Mail über Fehler zu informieren.

[2017-12-12 13:58] andreasrueedlinger opened #63 "Umsetzung Benutzer Zugriff"
## API endpoints
- [x] API Betreuer Zugriff (get und put) (? PT)
- [x] API Usersuche (inkl. auto-complete endpoint) (? PT)
- [x] API get all coaches of user (? PT)
- [x] API Friends (? PT)

##  Client Services
- [x] Services für alle API endpoints oben (? PT)

## UX Komponenten
- [x] Komponente Betreuer Zugriff (? PT)
- [x] Komponente Freunde Zugriff (? PT)
- [x] Komponente Coaches Zugriff (? PT)

[2018-01-31 07:37] andreasrueedlinger commented on #44
Ist mittlerweile abgeschlossen

[2018-01-31 07:37] #44 closed, assigned to andreasrueedlinger

[2018-03-19 13:35] andreasrueedlinger opened #64 "Umsetzung Tageskommentare"
Spezifikation und Schätzung:
## DB
- [x] Migrationsskript: sanitize all comments [2h]

## API endpoints
- [x] API day-comments + tests (2.5PT)

##  Client Services
- [x] Services für alle API endpoints oben (2h)

## UX Komponenten
- [x] Day Comment "Sprechblase" + tests (1PT)
- [x] Komponente Tageskommentar in Listenansicht (4h)
- [x] Komponente User Selection Dialog (4h)

Total: 5 PT
Originale Sc

[2018-03-20 19:09] #42 closed, assigned to nobody

[2018-03-20 19:09] #41 closed, assigned to nobody

[2018-03-20 19:10] #40 closed, assigned to nobody

[2018-03-24 13:36] andreasrueedlinger opened #65 "Umsetzung Trainingserfassung"
## API endpoints
- [x] API Trainingsarten/TTB Config -> schon  vorhanden
- [x] API Templates/Vorlagen (4h)
- [x] API activities (PoC Code abschliessen) (1PT)
- [ ] API Änderungen für neue Convenience Inputs (4h)

##  Client Services
- [x] Services für alle API endpoints oben (2h)
- [x] Edit Activity Service, div. Methoden für UX Komponenten (6h)

## UX Komponenten
- [x] Einbindung Tageswerte-Form

[2018-04-13 15:54] #64 closed, assigned to andreasrueedlinger

[2018-04-13 15:56] andreasrueedlinger commented on #57
Schliesse den Issue und öffne einen neuen für die Integration der Analyse

[2018-04-13 15:56] #57 closed, assigned to andreasrueedlinger

[2018-04-13 15:57] andreasrueedlinger opened #66 "Analyse Komponenten in Listenansicht"
Sobald die Analyse umgesetzt ist, sollten die entsprechenden Analyse Komponenten zur Listenansicht hinzugefügt werden

[2018-04-13 16:01] andreasrueedlinger opened #67 "Validierung Trainingsart und Ids der Relations in ActivityController"
Da Trainingsart, Einheitenteile etc. nicht mehr in Tabellen gehalten werden, müssen die Ids im Controller codeseitig validiert werden.

[2018-04-13 16:03] andreasrueedlinger opened #68 "Einheitliche Bennenung der API endpoints"
Benennung der API Endpoints sollte konsistent und einheitlich sein:
* spinal-case (hyphen, lower case) (https://blog.restcase.com/5-basic-rest-api-design-guidelines/)
* ressources in Plural

[2018-04-23 12:50] andreasrueedlinger commented on #67
Zusätzliche Änderung: Datum optional in Model, damit Datum null sein kann wenn es ein Template ist. Aber in anderen Fällen sollte Datum codeseitig validiert werden (gesetzt und gültig)

[2018-04-27 09:39] yannisgu opened #69 "Bug: Drag and Drop bei "anderem" User"
Mir ist aufgefallen, dass wenn ich den Edit-Modus für einen betreuten Athleten öffne, wo ich Schreib-Rechte habe, das Drag and Drop nicht richtig funktioniert.

Wenn ich eine Vorlage oder eine Einheit reinziehe, wird diese auch beim aktuellen User dargestellt und nicht beim User, wo der Edit modus aktiv ist. Gespeichert wird die Einheit jedoch beim korrekt User.
![](https://i.imgur.com/jSLBtEB.gif

[2018-04-28 08:18] andreasrueedlinger commented on #69
fixed in https://github.com/t-pak/code/pull/139

[2018-04-30 13:59] andreasrueedlinger commented on #69
PR merged

[2018-04-30 13:59] #69 closed, assigned to andreasrueedlinger

[2018-05-31 13:09] andreasrueedlinger opened #70 "TimePicker Komponente für Startzeit Eingabe"
Startzeiteingabe ist momentan manuell. Schön wäre eine TimePicker Komponente (24h, Material Design) inkl. Validation.
https://material.angular.io sind leider noch nicht soweit (https://github.com/angular/material2/issues/5648)
Es gibt einige Alternativen, aber ich denke am besten warten wir einmal ab.
Alternativen:
* https://code.promactinfo.com/md2/#/datepicker
* https://github.com/SteveDunlap13/

[2018-06-05 07:29] andreasrueedlinger opened #71 "OptionSlider mobile tauglich machen"
Der OptionSlider (Tageswerte und Borg) ist noch nicht ganz mobile fähig/responsive. Das müsste noch korrigiert werden.

[2018-06-10 11:50] andreasrueedlinger opened #72 "UX für Back/Abbrechen bei Trainingserfassung"
Genaue Definition und Diskussion was wie gerouted werden soll bei Trainingserfassung: es gibt die beiden Masken Trainingsart und Eingabeformular:

- soll beides in die Router-History? (mit Back kommt man auf die vorherige Seite/Maske)
- soll beides eine Seite sein oder doch ein Dialog?
- bei Abbrechen soll es aber nicht einfach "Back" sondern auf die Seite bevor man zur Trainingserfassung gekommen

[2018-07-17 08:17] andreasrueedlinger commented on #62
Merged PR, closing

[2018-07-17 08:17] #62 closed, assigned to nobody

[2018-07-17 08:21] andreasrueedlinger opened #73 "[alpha-testing] Clean DB values"
Diverse DB-Werte sind mit leeren statt NULL-values gespeichert und sollten aufgeräumt werden.

- [x] Einheitenwerte
- [x] Einheitenteil-Config
- [x] diverse andere Tabellen checken

[2018-07-17 08:32] andreasrueedlinger opened #74 "[alpha-testing] Activity fixes and enhancements"
Bugs und enhancements aus dem Testing:

- [x]  Einheitenwerte hinzufügen: falls nur basicLevel Ansicht sollten auch verborgene Werte in Popup erscheinen, Einheitenwerte sortieren
- [x] Float-Eingabe: je nach Browser und Ländereinstellung nur Komma oder Punkt möglich, verwirrend wenn Eingabe ohne Meldung einfach nicht gespeichert wird
- [x] plötzliches Offline: abfangen in activity service
- [x] te

[2018-07-17 08:34] andreasrueedlinger opened #75 "[alpha-testing] missing Translations"
Fehlende Übersetzungen ergänzen.
Ändern label Verletzung: "kleine Einschränkunen" zu "leichte Einschränkungen"

Zudem wenn möglich Skript schreiben, das alle noch nicht übersetzten Labels ausgibt

[2018-07-17 08:38] andreasrueedlinger opened #76 "[alpha-testing] Konfiguration"
Konfiguration der Trainingsarten überarbeiten und fehlende Farben und Symbole hinzufügen

- [x] Konfiguration überarbeiten @jeggi87
- [x] Konfiguration anpassen
- [x] Fehlende Symbole und Farben hinzufügen

Feedback von Tests:
- Leistungstests, Bike-O, Ski-O hat keine Farbe
- Farbe Ausgleich und ergänzende Ausdauer zu ähnlich
- Einheitenwerte und deren Gruppierung überarbeiten!
- Klassierungen?

[2018-07-17 08:40] andreasrueedlinger opened #77 "[alpha-testing] Custom userdata: Region nicht übernommen"

[2018-07-17 08:41] andreasrueedlinger opened #78 "[alpha-testing] offline handling"
Plötzliches offline handling analysieren und stabil machen

[2018-07-17 19:29] andreasrueedlinger commented on #74
@yannisgu ich habe nun doch in einer migration alle Startzeiten `"00:00:00"` auf NULL gesetzt. Eine kleine Analyse ergab, dass diese Werte nur bei Einheiten zwischen 2015 und heute existieren, also vollkommen ein T-Pak 4 Artefakt sind. Ich nehme an, diese wenigen wirklichen Startzeiten um Mitternacht sind es nicht wert, die anderen zu schonen. Ev. können wir das in die Release notes nehmen?

[2018-07-23 07:35] andreasrueedlinger commented on #50
https://github.com/t-pak/code/pull/158

[2018-07-23 07:35] #50 closed, assigned to andreasrueedlinger

[2018-07-23 07:40] andreasrueedlinger commented on #68
https://github.com/t-pak/code/pull/146

[2018-07-23 07:40] #68 closed, assigned to nobody

[2018-07-23 07:42] andreasrueedlinger commented on #67
https://github.com/t-pak/code/pull/148

[2018-07-23 07:42] #67 closed, assigned to andreasrueedlinger

[2018-07-23 07:44] andreasrueedlinger commented on #61
Mit Update auf rxjs 6 zwangsweise umgesetzt
https://github.com/t-pak/code/pull/149

[2018-07-23 07:44] #61 closed, assigned to nobody

[2018-07-23 07:46] andreasrueedlinger commented on #51
Siehe auch #76

[2018-07-23 07:46] andreasrueedlinger commented on #48
Siehe auch #76

[2018-07-23 07:47] andreasrueedlinger commented on #25
mittlerweile umgesetzt

[2018-07-23 07:47] #25 closed, assigned to andreasrueedlinger

[2018-08-06 15:32] yannisgu opened #79 "Analyse V2"
Diverse Verbesserungen für die Analyse-Seite:
- Es soll zwischen min und Stunden umgeschaltet werden
- Es sollen Balkenstatistiken gemacht werden können, für Trainings-Klassen
- Es soll möglich sein die Y-Achse für Minuten zu fixieren

[2018-08-07 09:05] andreasrueedlinger commented on #78
fixed in https://github.com/t-pak/code/pull/162

[2018-08-07 09:05] #78 closed, assigned to andreasrueedlinger

[2018-08-07 09:06] andreasrueedlinger commented on #77
fixed

[2018-08-07 09:06] #77 closed, assigned to andreasrueedlinger

[2018-08-07 09:06] andreasrueedlinger commented on #75
fixed

[2018-08-07 09:06] #75 closed, assigned to andreasrueedlinger

[2018-08-07 09:06] andreasrueedlinger commented on #74
fixed

[2018-08-07 09:06] #74 closed, assigned to andreasrueedlinger

[2018-08-07 09:20] andreasrueedlinger commented on #73
erster Punkt wurde schon gefixt (https://github.com/t-pak/code/pull/144)

[2018-08-07 09:56] andreasrueedlinger commented on #48
fixed or duplicate

[2018-08-07 09:56] #48 closed, assigned to nobody

[2018-08-22 13:46] #73 closed, assigned to andreasrueedlinger

[2018-08-22 13:51] andreasrueedlinger opened #80 "Besseres Error-Logging"
Das Error-logging muss noch besser werden.
- [x] nicht je ein Mail pro Log-Zeile
- [x] Server-Errors nicht doppelt loggen (Client und Server)
- [ ] Server-Errors: Unauthorized und Forbidden nur warnen?
- [x] Server-Errors: ganzen Request mitloggen (url, params und body, ev. IP, referrer etc)

[2018-09-14 08:53] andreasrueedlinger opened #81 "onDelete cascades bei foreign keys überprüfen"
Bei allen foreign keys sollten die cascades überprüft werden: automatisch löschen, auf null setzen oder was soll die policy sein?

[2018-09-14 08:58] andreasrueedlinger commented on #80
Das meiste in https://github.com/t-pak/code/pull/169 umgesetzt. Bleibt noch die Frage, ob Unauthorized, Forbidden, NotFound etc eine spezielle Kategorie oder level warn bekommen, um Fehler besser zu erkennen.

[2018-09-20 06:14] andreasrueedlinger opened #82 "Flex layout Überarbeitung"
Der ganze Client muss hinsichtlich flex-layout etwas überarbeitet und überprüft werden.
Hintergrund: laut spec wird ein flex-Element mind. so breit wie seine Kinder (nested!). Das heisst ein grosses Sub-Element kann das Layout verreissen. Wird auf dem direkten Child aber `min-width: 0` gesetzt wird das Element nicht mehr grösser, sondern maximal so breit wie es Platz hat.
https://css-tricks.com/fl

[2018-10-03 12:04] andreasrueedlinger opened #83 "Created und updated Spalten MySQL 5.1 kompatibel machen"
Auf uberspace läuft MySQL v5.1, wo DEFAULT_TIMESTAMP nur für TIMESTAMP Spalten und nur 1 Spalte pro Tabelle unterstützt wird. Model so anpassen, dass beide Spalten mit typeorm und MySQL5.1 läuft

[2018-10-06 07:26] andreasrueedlinger opened #84 "Alpha Bugs 201810021110"
Bug/Enhancement-Liste der Alpha-Version:

Allgemein:
- [x] Passwort von POST-Data nicht plaintext ins Log schreiben
- [x] write-access-status Methode buggy: falscher Query-Parameter und falscher Access-Check
- [x] Auch Planung/Templates sollen bei Intensitäten korrekt sein
- [x] keine Minuszeiten erlauben
- [x] Check ob bei Config Erholung/Mental bei Intensitäten korrekt konfiguriert
- [x] Zoom fu

[2018-10-10 08:45] andreasrueedlinger opened #85 "Alte Dokumente in der DB zu absoluten, korrekten Urls migrieren"
Neu sind Dokumente einfach Weblinks. Alte hochgeladene Dateien müssen eine Url auf uberspace bekommen (apache) und in der DB korrekt verlinkt werden (absolut statt relativ wie bisher)

[2018-10-15 07:25] #76 closed, assigned to jeggi87

[2018-10-15 07:26] andreasrueedlinger commented on #56
Config überarbeitet

[2018-10-15 07:26] #56 closed, assigned to andreasrueedlinger

[2018-10-15 08:26] andreasrueedlinger opened #86 "Window resize: Funktionen und letzte Logins brechen nicht um bei kleinem Fenster"

[2018-10-15 08:28] andreasrueedlinger opened #87 "CSS/Styling guide im Wiki"
CSS/Styling guide Wiki erstellen, damit gewisse building blocks immer gleich gestyled sind:
* Formulare
* Tabellen
* Filter
* Detail-Views
* Cards
* ...

[2018-10-15 13:27] andreasrueedlinger commented on #86
fixed during review

[2018-10-15 13:27] #86 closed, assigned to nobody

[2018-10-18 08:52] andreasrueedlinger opened #88 "npm audit: Sicherheitslücken vor Release minimieren"
mit npm audit möglichst alle Security leaks noch stopfen vor dem Release

[2018-10-19 20:31] andreasrueedlinger opened #89 "Einheitenwerte als obligatorisch definierbar machen"
Einheitenwerte sollten von Verband, Team auch als obligatorisch definierbar sein in Config (Model erlaubt dies ja und in Edit form ist es auch so umgesetzt, das flag kann einfach bei der config admin noch nicht gesetzt werden)

[2018-10-29 16:25] yannisgu opened #90 "Aktivitäts Tile scheint nicht richtig zu funktionieren bei mehreren Teams"
Auf der Beta-Umgebung sehe ich die Aktivität nur für betreute Athleten und Athleten von einem Team wo ich Trainer bin (Cadre Nechatelois, Cadre Romand sehe ich nicht.

[2018-10-31 15:14] andreasrueedlinger opened #91 "Rxjs check of shareReplay operator"
Alle shareReplay Operatoren müssen überprüft werden: sollen sie wirklich die Subscription aufrecht erhalten nachdem alle Observers weg sind? Was passiert nach einem User-Wechsel?

[2018-11-01 20:02] #51 closed, assigned to andreasrueedlinger

[2018-11-01 20:03] andreasrueedlinger commented on #63
Noch offen:
- [ ] Benachrichtigung bei neuer Funktion
- [ ] Betreuer zu T-Pak einladen

[2018-11-01 20:04] #66 closed, assigned to nobody

[2018-11-01 20:05] #72 closed, assigned to nobody

[2018-11-02 10:41] yannisgu commented on #90
wurde bereits gefixt

[2018-11-02 10:41] #90 closed, assigned to andreasrueedlinger

[2018-11-03 12:52] yannisgu opened #92 "Fix subactivity config für Ausdauersport/LA"
Die Defaultts müssen in die Config für Ausdauersport/LA hinzugefügt werden.

[2018-11-03 21:04] andreasrueedlinger opened #93 "Bug-Sammlung T-Pak 5.0.0"
### Patch 5.0.1
- [x] Registrieren/Aktivieren Labels bei Registrierung sind bei den Buttons vertauscht
- [x] mark as read bei access notifications funktioniert nicht
- [x] betreuer: eigene ansicht auf dashboard auch wenn kein athlet!
- [x] IE11 Bug: Login Dialog wird nicht geöffnet, `Error: StaticInjectorError[n -> function(){this.role=\"dialog....`
- [x] IE11 unterstützt `[].includes` nicht
- [x]

[2018-11-04 21:08] andreasrueedlinger commented on #93
Häufig auftretend, wenn Browser html Cached und alte Files laden will:
[code]

[2018-11-04 21:09] andreasrueedlinger commented on #93
Ungeklärt:
[code]

[2018-11-04 21:10] andreasrueedlinger commented on #93
Ungeklärt:
[code]

[2018-11-04 21:32] andreasrueedlinger commented on #93
Versuch von Matthias Birrer automatisch auf die T-Pak Daten zuzugreifen:
[code]
Auth tokens entfernt

[2018-11-04 21:35] andreasrueedlinger commented on #93
Ungeklärt:
[code]

[2018-11-04 21:37] andreasrueedlinger commented on #93
Diverse Statistik-Bugs:
[code]

[code]

[2018-11-04 21:42] andreasrueedlinger commented on #93
???
[code]
Token und User entfernt

[2018-11-06 16:01] andreasrueedlinger commented on #93
WAD, ???

[2018-11-06 19:08] jeggi87 commented on #93
![image001](https://user-images.githubusercontent.com/25025643/48087491-b981c600-e1ff-11e8-8605-ef081e36df92.png)

Begriff nicht übersetzt?

[2018-11-06 19:09] jeggi87 commented on #93
ist erledigt, funktioniert.

[2018-11-06 19:11] jeggi87 commented on #93
Danke für die Antwort. Mit petschu@gmail.ch funktioniert zwar der Link "Passwort vergessen" / "Passwort zurücksetzen". Allerdings habe ich gar keine Mailadresse mit gmail.ch, sondern nur mit gmail.com. Das muss wohl bei der Registrierung ein Tippfehler gewesen sein. Gibt es trotzdem einen Weg mein altes Konto wieder zu reaktivieren oder soll ich mich einfach neu registrieren?

[2018-11-06 19:11] jeggi87 commented on #93
Liebe Kollegin, lieber Kollege Ich habe vor langer Zeit einen Account unter haefeli@itp.unibe.ch bei euch erÃ¶ffnet. Auf diese Emailadresse habe ich keinen Zugriff mehr, ihr schickt aber weiterhin Newsletter auf diese Adresse. Der Sysadmin von itp.unibe.ch bittet mich, den Newsletter abzustellen oder umzuleiten. Darf ich euch bitten, die Adresse haefeli@itp.unibe.ch aus eurer Liste zu entfernen? D

[2018-11-06 20:57] andreasrueedlinger commented on #93
@jeggi87 bitte keine Supportanfragen hier. Und keine persönlichen Daten, dieser Teil von github ist öffentlich!

[2018-11-08 09:50] andreasrueedlinger commented on #93
[code]
Ursache: https://github.com/angular/angular/issues/24094

Wohl auch:
[code]

[2018-11-08 09:52] andreasrueedlinger commented on #93
Unklar:
[code]

[2018-11-08 21:21] andreasrueedlinger commented on #93
[code]

[2018-11-08 21:21] andreasrueedlinger commented on #93
[code]

[2018-11-08 21:22] andreasrueedlinger commented on #93
[code]

[2018-11-08 21:22] andreasrueedlinger commented on #93
[code]

[2018-11-08 21:46] andreasrueedlinger commented on #93
Still here:
[code]

[2018-11-10 10:27] andreasrueedlinger commented on #93
[code]

[2018-11-10 10:27] andreasrueedlinger commented on #93
[code]

[2018-11-13 10:58] andreasrueedlinger commented on #93
[code]

[2018-11-13 10:59] andreasrueedlinger commented on #93
[code]

[2018-11-13 11:01] andreasrueedlinger commented on #93
[code]
Jetzt noch mit stack:
[code]

[2018-11-13 11:02] andreasrueedlinger commented on #93
https://github.com/angular/zone.js/issues/1078
[code]

[2018-11-15 09:52] andreasrueedlinger commented on #93
[code]

[2019-10-16 05:20] yannisgu opened #94 "Support for all UTF8 characters"
Currently 4-byte UTF8 characters are not supported by our MySQL instance and we strip them out: https://github.com/t-pak/code/blob/2fb772f82394578bc85da16c2299c874c7d6ab1f/server/src/modules/external-services/services/runningcoach.service.ts#L164

We should find a way to make this work.

[2019-10-16 05:24] #17 closed, assigned to schaada

[2019-10-16 05:24] #27 closed, assigned to yannisgu

[2019-10-16 05:24] #38 closed, assigned to yannisgu

[2019-10-16 05:29] yannisgu opened #95 "Statistiken kopieren"
Es sollte möglich sein eine Statistik zu kopieren.

[2019-10-16 05:29] #85 closed, assigned to nobody

[2019-10-16 05:31] #83 closed, assigned to nobody

[2019-10-16 05:34] #55 closed, assigned to yannisgu

[2019-12-03 20:33] andreasrueedlinger opened #96 "Slider als neuer Parameter Typ"
Neuen Parameter Typ definieren "Slider", der die Config Optionen enthält und somit die hartkodierten Parameter Borg, Foster und Temperaturempfinden abdeckt.

[2021-12-12 19:54] benzler opened #97 "Fehlerhafte Umleitung nach Abbrechen der Erstellung eines importieren Trainings"
Anleitung zum Reproduzieren: Starte beim Dashboard und importiere eine Trainingseinheit, die von einem Drittanbieterdienst stammt. Nun gelangt man auf die Seite um eine Trainingseinheit zu erfassen, die in diesem Fall bereits vorausgefüllt ist.
Unten auf der Seite kann der Erstellvorgang entweder gespeichert oder abgebrochen werden. Wird er abgebrochen, gelangt der Nutzer auf die /main Seite. Ich

[2021-12-12 19:57] benzler commented on #97
Vielleicht ist das Teil davon: https://github.com/t-pak/issues/issues/72

[2021-12-19 12:36] benzler opened #98 "Kadenz Werte auch in Grafik anzeigen"
Seit Aktivitäten von Strava importiert werden können, sind für jeden TrackPoint auch Kadenzwerte gespeichert, falls diese existieren. Diese könnte man auch in der Grafik darstellen, die gezeigt wird, wenn eine Aktivität betrachtet wird.

[2022-01-01 17:16] benzler opened #99 "Karte beim Training maximal Zoom so setzen, dass keine nur weisse Karte gezeigt wird."
Ich habe beim Testen der neuen Strava Implementierung festgestellt, dass die OSM Karte, die aktuell im Client bei der Trainingsansicht geladen wird, einen maximalen Zoom aufweist. Wird die Karte dahingehend vergrössert, erscheint sie sehr unscharf. (Was an sich kein Problem ist.) Wenn sich aber das GPS der Aktivität sich nur auf wenige Meter beschränkt. (Beispiel Training indoor, welches trotzdem

[2022-01-03 18:15] benzler commented on #99
Mit dem kommenden Update der Strava Integration wird der Bug behoben.

[2022-01-03 18:15] #99 closed, assigned to nobody